@import url(.././index.css);

.navbar {
  width: 100%;
  height: 60px;
  background-color: var(--dark);
  font-weight: 500;
  color: var(--light);
  position: relative;
  z-index: 1000;
  top: 0;
}

.fixed-position {
  position: fixed;
}

.navbar-hide {
  transform: translateY(-100%);
}

.navbar-show {
  transform: translateY(0);
}

.container {
  height: 100%;
  width: 90%;
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.n-logo {
  width: 210px;
  height: 45px;
  display: flex;
  justify-content: start;
}

.n-logo img {
  width: auto;
  height: 45px;
}

.menu {
  width: 600px;
  height: 100%;
}

.navlist {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu li {
  color: var(--light);
  cursor: pointer;
}

.menu li:hover {
  color: var(--primary);
}

#menu-icon {
  font-size: 40px;
  color: var(--light);
  cursor: pointer;
  margin: 10px 0;
  display: none;
}

.search {
  width: 360px;
  height: 90%;
  display: flex;
  align-items: center;
}

.lens {
  display: none;
}

.n-login {
  height: 81%;
  width: 120px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.user-logged-in {
  width: 45px;
}

.n-login button {
  width: 90px;
  padding: 9px;
  border-radius: 5px;
  font-size: medium;
  font-weight: 500;
  color: var(--dark);
  background-color: var(--primary);
  cursor: pointer;
}

.n-login button:hover {
  background-color: var(--primary-l);
}

.profile {
  cursor: pointer;
  display: flex;
}

#profile-icon {
  width: 35px;
  border-radius: 50%;
}

#down-arrow {
  width: 18px;
}

.drop-box {
  position: absolute;
  width: 250px;
  height: 160px;
  top: -1000px;
  right: 5%;
  padding: 20px;
  background-color: var(--light);
  box-shadow: 0 25px 40px 1px #5e5e5e73;
  transition: all 0.45s ease;
  z-index: 1001;
}

.drop-box ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drop-box li {
  color: var(--dark-t);
  list-style: none;
  text-transform: uppercase;
  margin: 20px 0;
  cursor: pointer;
  display: flex;
}

.drop-box img {
  width: 20px;
  margin-right: 15px;
}

#powerButton {
  width: 25px;
}

.drop-box li:hover {
  color: var(--dark-l);
}

@media (max-width: 780px) {
  .n-logo {
    width: auto;
  }

  .menu {
    width: 50px;
    margin-left: 10px;
  }

  .navlist {
    position: absolute;
    top: 102%;
    left: -1000px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.45s ease;
    height: 60vh;
    width: 90%;
    z-index: 1001;
  }

  .navlist li {
    font-size: 20px;
  }

  #menu-icon {
    display: block;
  }

  .search {
    width: 300px;
    justify-content: end;
    padding-right: 15px;
  }

  .lens {
    height: 100%;
    width: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .search {
    width: 280px;
  }
}

.bg-dark-thin {
  background-color: var(--dark-t);
}

.bg-light-thin {
  background-color: var(--light-t);
}

.open-menu {
  left: 5%;
}

.open {
  top: 102%;
}
